body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #2cabe3;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #000;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

footer {
  padding-bottom: 0px;
  padding-left: 0!important;
  padding-right: 0!important;
  background: lightblue;
  color: #000;
  text-align: center!important;
}